/*
	0 - reset css
	1 - loader
	2 - helpers
	3 - layout
	4 - buttons
	5 - responsive images
	6 - motions
*/

/* 0 - html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* 1 - loader */
#acf-loader{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:black;
	/*line-height:470px;*/
	text-align:center;
}
#acf-loader span{
	display:block;
	-webkit-animation: bounce 3.0s infinite ease-in-out;
	animation: bounce 3.0s infinite ease-in-out;
}
#spiner{
	position:relative;
	margin:0 auto;
	height:35px;
	width:35px;
	border-top:4px solid white;
	border-left:4px solid orange;
	border-bottom:4px solid white;
	border-right:4px solid orange;
	border-radius:100px;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	
	-webkit-animation: rotate 0.8s infinite linear;
	animation: rotate 0.8s infinite linear;
	

}

/* 2 - helpers */
.hide{display:none;}
.visible{display:block;}

/* 3 - layout */
#acf-main{
	background-color:black;
}

/* 4 - buttons */
.acf-btn-wide{display:block;}

/* 5 - responsive images */
img{}

/* 6 - motion */
/* loader css motion */
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.9) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}